/*
* ----------------------------------------------
* Type styles
* ----------------------------------------------
* 01 - Globals
* 02 - Globals
* 03 - Headings
* 04 - Paragraphs
* 05 - Links
* 06 - Lists
* 07 - Address
* 08 - Pre
* 09 - Blockquote
* 10 - Misc
* ----------------------------------------------
*/

@layer type {

    /*
    * ----------------------------------------------
    * 01 - Fonts
    * ----------------------------------------------
    */
    @font-face {
        font-family: 'GE Inspira';
        src: url('../fonts/GEInspira.woff2') format('woff2'),
        url('../fonts/GEInspira.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'GE Inspira';
        src: url('../fonts/GEInspira-Bold.woff2') format('woff2'),
        url('../fonts/GEInspira-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }


    /*
    * ----------------------------------------------
    * 02 - Globals
    * ----------------------------------------------
    */
    html, body {
        font-family: "GE Inspira", Arial, Helvetica, sans-serif;
        font-size: 18px;
    }

    * {
        font-family: "GE Inspira", Arial, Helvetica, sans-serif;
        font-size: 1rem;
        color: var(--text-color);
        font-weight: 400;
        line-height: 1rem;
        letter-spacing: 0.05rem;
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }

    @media screen and ( max-width: 568px ) {

        html, body {
            font-size: 16px;
        }

        * {
            font-size: 16px;
        }

    }

    /*
    * ----------------------------------------------
    * 03 - Headings
    * ----------------------------------------------
    */
    h1, h2, h3, h4, h5, h6 {
        display: block;
        padding: 0;
        margin: 0;
        font-weight: normal;
        color: var(--clr-primary);
    }

    h1 {
        font-size: 2.2rem;
        line-height: 2.4rem;
    }

    h2 {
        font-size: 2rem;
        line-height: 2.2rem;
    }

    h3 {
        font-size: 1.8rem;
        line-height: 2rem;
    }

    h4 {
        font-size: 1.6rem;
        line-height: 1.8rem;
    }

    h5 {
        font-size: 1.4rem;
        line-height: 1.6rem;
    }

    h6 {
        font-size: 1.2rem;
        line-height: 1.4rem;
    }

    * + h1,
    * + h2,
    * + h3,
    * + h4,
    * + h5,
    * + h6 {
        margin-top: 3.2rem;
    }

    /*
    * ----------------------------------------------
    * 04 - paragraphs
    * ----------------------------------------------
    */
    p {
        display: block;
        padding: 0;
        margin: 0;
        line-height: 1.5rem;
    }

    /*
    * ----------------------------------------------
    * 05 - Links
    * ----------------------------------------------
    */
    a {
        outline: 0;
        font-size: inherit;
        color: inherit;
        color: inherit;
    }

    a:visited {
        opacity: 0.8;
    }

    /*
    * ----------------------------------------------
    * 06 - Lists
    * ----------------------------------------------
    */
    ul, ol {
        display: block;
        margin: 0 0 1.6rem -1.5rem;
        line-height: 1.6em;
    }

    ul {
        list-style: initial;
    }

    ol {
        list-style: decimal;
    }

    ul:after,
    ol:after {
        content: "";
        display: table;
        clear: both;
    }

    li {
        line-height: 1.6rem;
    }

    /*
    * ----------------------------------------------
    * 07 - Address
    * ----------------------------------------------
    */
    address {
        font-style: normal;
        line-height: 1.6rem;
    }

    /*
    * ----------------------------------------------
    * 08 - Pre
    * ----------------------------------------------
    */
    pre {
        display: block;
        margin: 1.6rem 0 1.6rem 0;
        overflow: auto;
        font-family: Courier, monospace;
        line-height: 1.6em;
    }

    /*
    * ----------------------------------------------
    * 09 - Blockquote
    * ----------------------------------------------
    */
    blockquote {
        display: block;
        margin: 1.6rem 0 1.6rem 0;
        padding: 1rem 1.6rem 1rem 1.6rem;
        border-radius: 0.25rem;
        text-align: center;
    }

    blockquote p {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        font-style: italic;
        font-size: 1.2rem;
        line-height: 2rem;
    }

    blockquote cite {
        display: block;
        margin: 0.5rem 0px 0.5rem 0px;
        font-size: 0.8rem;
    }

    /*
    * ----------------------------------------------
    * 10 - Misc
    * ----------------------------------------------
    */
    hr {
        height: 1px;
        border: none;
        border-bottom: dotted 1px #bbbbbb;
    }

    embed,
    object {
        outline: 0;
        margin: 3.2rem 0 3.2rem 0;
    }

    b,
    strong {
        font-weight: 600;
    }

    i,
    em {
        font-style: italic;
    }

    s,
    del,
    strike {
        text-decoration: line-through;
    }

    small {
        font-size: 0.8rem;
    }

    big {
        font-size: 1.2rem;
    }

    sup {
        bottom: 1ex;
    }

    sub {
        top: 0.5ex;
    }

    sup,
    sub {
        height: 0;
        position: relative;
        font-size: 0.75rem;
        line-height: 1.6rem;
        vertical-align: baseline;
    }

    dfn,
    abbr,
    acronym {
        border-bottom: 1px dotted #bbbbbb;
        cursor: help;
    }

}

