html,
body {
    margin: 0;
    padding: 0;
    background-color: hsl(200, 50%, 0%);
}

#start {
    width: 100vw;
    height: 100vh;
    background-color: #111111;
    color: #ffffff;
    font-size: 2rem;
    appearance: none;
    -webkit-appearance: none;
    border: none;
}