/*
* ----------------------------------------------
* A modern reset - Andy Bell
* https://piccalil.li/blog/a-modern-css-reset/
* ----------------------------------------------
* 01 - Globals
* 02 - Margins
* 03 - Lists
* 04 - Scroll
* 05 - Body
* 06 - Ink
* 07 - Images
* 08 - Forms
* 09 - Reduced motion
* ----------------------------------------------
*/

/*
* ----------------------------------------------
* 01 - Globals
* ----------------------------------------------
*/
*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*
* ----------------------------------------------
* 02 - Margins
* ----------------------------------------------
*/
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/*
* ----------------------------------------------
* 03 - Lists
* ----------------------------------------------
*/
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/*
* ----------------------------------------------
* 04 - Scroll
* ----------------------------------------------
*/
html:focus-within {
    scroll-behavior: smooth;
}

/*
* ----------------------------------------------
* 05 - Body
* ----------------------------------------------
*/
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/*
* ----------------------------------------------
* 06 - Ink
* ----------------------------------------------
*/
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/*
* ----------------------------------------------
* 07 - Images
* ----------------------------------------------
*/
img,
picture {
    max-width: 100%;
    display: block;
}

/*
* ----------------------------------------------
* 08 - Forms
* ----------------------------------------------
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
* ----------------------------------------------
* 09 - Reduced motion
* ----------------------------------------------
*/
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}