@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css);

:root {
    --swiper-theme-color: hsl(222,70%,80%);
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #111111;
    font-family: 'Montserrat', sans-serif;
    color: #efefef;
}

.swiper-container {
    width: 100%;
    height: 40vw;
    padding: 30px 0px;
}

@media only screen and (max-width: 768px) {
    .swiper-container {
        height: 85vh;
    }
}

.swiper-wrapper {
    height: 40vw;
}

.swiper-pagination-bullets {
    z-index: 100;
    bottom: 15px !important;
}
.swiper-pagination-bullet {
    background-color: hsl(222,70%,50%);
}
.swiper-pagination-bullet-active {
    background-color: hsl(222,70%,50%);
}

.swiper-slide {
    width: 35vw;
    height: 35vw;
    position: relative;
    background-color: #212121;
    border-radius: 5px;
    overflow: hidden;
    filter: drop-shadow( 0px 10px 10px hsl(0,0%,00%,0.6) );
    transition: transform 0.2s ease-out;
}

@media only screen and (max-width: 768px) {
    .swiper-slide {
        width: 80vw;
        height: 70vh;
    }
}

.swiper-slide:not(.swiper-slide-active) {
    transform: scale(90%);
    filter: opacity(0.9);
}
.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:
        transform 0.7s ease-out,
        filter 0.2s ease-out;
}
.swiper-slide:hover .background img {
    transform: scale(105%);
}
.swiper-slide:not(.swiper-slide-active) img {
    filter: grayscale(60%);
}
.foreground {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(
        to top,
        hsl(0,0%,0%,0.8) 10%,
        transparent 70%
    );

    transition: padding 0.4s ease-out;
}

.foreground article > * {
    filter: drop-shadow(2px 2px 5px #000000);
}
.foreground p {
    margin-bottom: 0.5rem;
    max-width: 40ch;
}
.foreground p.genre {
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: hsl(222,70%,70%);
    text-transform: uppercase;
}

.foreground article > * {
    transform: translateY( calc( var(--desc-height, 200) * 1px) );
    transition: transform 0.3s var(--t-delay, 0s) ease-out;
}
.foreground:hover article > * {
    transform: translateY(0px);
}

.foreground:hover article p.genre {
    --t-delay: 0s;
}
.foreground:hover article h2 {
    --t-delay: 0.04s;
}
.foreground:hover article time {
    --t-delay: 0.05s;
}
.foreground:hover article p.description {
    --t-delay: 0.12s;
}

.foreground h2 {
    margin-bottom: 0.7rem;
    font-size: 2.2rem;
}
.foreground time {
    display: inline-block;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: hsl(222,70%,70%);
    text-transform: uppercase;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40px;

    position: absolute;
    left: 30px;
    top: 30px;
}
.icons .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: solid 1px hsl(222,70%,100%);
    color: hsl(222,70%,100%);

    transform: translateX(-200%);
    transition: transform 0.3s var(--t-delay, 0s) ease-out;
}

.foreground:hover .icons .icon {
    transform: translateX(0%);
}

.icons .icon:nth-of-type(2) {
    --t-delay: 0.04s;
}
.icons .icon:nth-of-type(3) {
    --t-delay: 0.06s;
}

.icons .icon a {
    color: #efefef;
}
